@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  border: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
}

.container {
  margin: auto;
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
}
.carousel {
  padding: 10px;
}

.buttons {
}

.icon {
  background-color: blanchedalmond;
  border-radius: 50%;
  padding: 0.5em;
}

.icon:hover {
  background-color: rgb(65, 14, 184);
}
